* {
  font-family: Lobster, cursive;
  text-decoration: none;
  color: #ffffff;
}
body {
  background: #000;
}
.bars {
  display: none;
}
header {
  width: 98.9vw;
  height: 55px;
  background-color: #094;
  border-radius: 20px;
  position: fixed;
  z-index: 50;
  top: 0;
}
footer {
  background-color: #333;
  border: 5px solid blue;
  border-radius: 20px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 2px;
  width: 65vw;
}
.hola {
  position: relative;
  left: 50vw;
  display: block;
}
table {
  text-align: center;
  margin-left: 50vw;
}
aside div {
  background: #940;
  height: 100vh;
  display: inline-block;
  width: 35vw;
  position: fixed;
  top: 50px;
  padding: 10px;
  right: 0;
}
aside div p,
aside h2 {
  width: 90%;
  margin: 10px;
}
article section h2, article section p {
width: 95%;
}
#barra section {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  width: 65vw;
  background: radial-gradient(circle, #444444, #222);
  height: 100vh;
  padding-left: 10px;
}

article {
  display: inline-block;
}
aside {
  display: inline-block;
}
h1 {
  text-align: center;
}
button:hover {
  background: lightblue;
}
button {
  background-color: #34a;
  border: 1px solid #000;
}
footer a {
  padding-left: 10px;
}
form {
  display: inline-block;
  position: absolute;
  margin: 25px;
  right: 0;
}
nav {
  display: inline-block;
  width: 30vw;
  left: 0;
}
input {
  background: #555;
  border: none;
  border: 2px solid #000;
  border-radius: 10px;
}
input[type="submit"] {
  background: #36a;
}
.header__div {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  margin-top: 15px;
}
i {
  margin: 5px;
  color: black;
}

  @media screen and (max-width: 800px) {
    * {
      list-style: none;
    }
  .bars {
    display: block;
  }
  .header-2 {
      display: block;
      width: 98.9vw;
      height: 55px;
      background-color: #094;
      border-radius: 20px;
      position: fixed;
      z-index: 50;
      top: 0;
  }
    header {
      display: none;
      width: 98.9vw;
      height: 55px;
      background-color: #094;
      border-radius: 20px;
      position: fixed;
      z-index: 50;
      top: 0;
    }
    footer {
      background-color: #333;
      border: 5px solid blue;
      border-radius: 20px;
      position: relative;
      margin-top: 5px;
      margin-bottom: 2px;
      width: 100vw;
    }
    table {
      text-align: center;
      margin-left: 50vw;
    }
    aside {
      display: none;
    }
    #barra section {
      display: inline-block;
      position: relative;
      margin-top: 50px;
      width: 100vw;
      background: radial-gradient(circle, #444444, #222);
      height: 100vh;
      padding-left: 10px;
    }
  }
  h1 {
    text-align: center;
  }
  footer a {
    padding-left: 10px;
  }
  form {
    display: inline-block;
    position: absolute;
    margin: 25px;
    right: 0;
  }
  input {
    background: #555;
    border: none;
    border: 2px solid #000;
    border-radius: 10px;
  }
  input[type="submit"] {
    background: #36a;
  }
  /*.header__div {
    display: none;
  }*/
  .responsive {
    height: 100vh;
    min-width: 35vw;
    display: block;
    color: black;
    width: 150px;
    background-color: blue;
    position: absolute;
    left: -40%;
    top: 0;
    z-index: 100;
    padding-top: 0;
    transition: left 1s;
  }
  nav ul li i {
    margin: 10px;
    margin-left: 0;
    color: #000;
  }
  #bars {
    display: block;
    position: absolute;
    margin: 10px;
    margin-top: 15px;
    font-size: 20px;
    left: 0;
    top: 0;
    z-index: 90;
    color: #000;
  }
  #close {
    display: block;
    position: relative;
    margin: 20px;
    font-size: 20px;
    z-index: 140;
    color: #000;
  }
  .bars:hover > .responsive {
    left: 0;
  }
}

