* {
  font-family: Lobster, cursive;
  text-decoration: none;
  color: #ffffff;
}
body {
  background: #000;
  overflow-x: hidden;
}
.bars {
  display: none;
}
header {
  display: block;
  width: 100%;
  height: 55px;
  background-color: #094;
  border-radius: 20px;
  position: fixed;
  z-index: 50;
  top: 0;
}
footer {
  background-color: #333;
  border: 5px solid blue;
  border-radius: 20px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 2px;
}
aside {
  display: inline-block;
  position: absolute;
  height: 100vh;
  width: 40vw;
  top: 50px;
  right: auto;
}
aside div {
  background: #940;
  height: 100vh;
  display: inline-block;
  max-width: 100%;
  position: relative;
  top: 0;
  padding: 10px;
  right: auto;
}
aside div p,
aside h2 {
  width: 90%;
  margin: 10px;
}
article section h2, article section p {
width: 90%;
}
#barra section {
  display: inline-block;
  position: relative;
  width: 100% calc(-10px);
  background: radial-gradient(circle, #444444, #222);
  height: 100vh;
  padding-left: 10px;
}

article {
  display: inline-block;
  position: relative;
  top: 50px;
  width: 60vw;
  height: 100vh;
}
h1 {
  text-align: center;
}
button:hover {
  background: lightblue;
}
button {
  background-color: #34a;
  border: 1px solid #000;
}
footer a {
  padding-left: 10px;
}
form {
  display: inline-block;
  position: absolute;
  margin: 25px;
  right: 0;
}
nav {
  display: inline-block;
  width: 30vw;
  left: 0;
}
input {
  background: #555;
  border: none;
  border: 2px solid #000;
  border-radius: 10px;
}
input[type="submit"] {
  background: #36a;
}
.header__div {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  margin-top: 15px;
}
i {
  margin: 5px;
  color: black;
}
  @media screen and (max-width: 800px) {
    * {
      list-style: none;
    }
  .bars {
    display: block;
  }
  .header-2 {
      display: block;
      width: 100%;
      height: 55px;
      background-color: #094;
      border-radius: 20px;
      position: fixed;
      z-index: 50;
      top: 0;
  }
    header {
      display: none;
      height: 55px;
      background-color: #094;
      border-radius: 20px;
      position: fixed;
      z-index: 50;
      top: 0;
    }
    footer {
      background-color: #333;
      border: 5px solid blue;
      border-radius: 20px;
      position: relative;
      margin-top: 5px;
      margin-bottom: 2px;
    }
    table {
      text-align: center;
      margin-left: 50vw;
    }
    aside {
      display: none;
    }
    #barra {
      width: 100vw;
      display: inline-block;
      position: relative;
    }
    #barra section {
      display: inline-block;
      position: relative;
      margin-top: 0;
      background: radial-gradient(circle, #444444, #222);
      height: 100vh;
      padding-left: 10px;
    }
  }
  h1 {
    text-align: center;
  }
  footer a {
    padding-left: 10px;
  }
  form {
    display: inline-block;
    position: absolute;
    margin: 25px;
    right: 0;
  }
  input {
    background: #555;
    border: none;
    border: 2px solid #000;
    border-radius: 10px;
  }
  input[type="submit"] {
    background: #36a;
  }
  .responsive {
    height: 100vh;
    min-width: 50vw;
    display: block;
    color: black;
    width: 150px;
    background-color: blue;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 100;
    padding-top: 40px;
    transition: left 2s;
    transition-delay: 1s;
  }
  nav ul li i {
    margin: 10px;
    margin-left: 0;
    color: #000;
  }
  #bars {
    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    left: 15px;
    z-index: 90;
    color: #000;
    transition: transform 2s;
    border-radius: 50%; 
    text-align: center;
    line-height: 35px;
  }
  #close {
    display: block;
    position: fixed;
    margin-top: 12px;
    font-size: 26px;
    z-index: 101;
    color: #000; 
    top: 0;
    margin-left: 40%;
  }
  .bars:hover > .responsive {
    left: 0;
  }
  #x-red {
    display: block;
    position: fixed;
    margin-top: 12px;
    margin-left: 40%;
    color: #0000;
    z-index: 150;
    font-size: 26px;
    top: 0;
  }
  #x-red:hover {
    color: #f00;
}
#bars:hover {
  background: rgba(150,150,150,0.7);
}
}
